<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.despectra.android.journal">

    <uses-sdk android:minSdkVersion="16"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name=".App.JournalApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activities.LoginActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.PreferencesActivity"
            android:label="Настройки">

        </activity>

        <activity android:name=".Activities.MainActivity">
        </activity>

        <service android:name=".Services.ApiService">
        </service>

        <provider
            android:authorities="com.despectra.android.journal.provider"
            android:name=".Data.MainProvider"/>

    </application>
</manifest>
